@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .scrollbar-thin::-webkit-scrollbar {
        height: 5px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #888;
    }

    .scrollbar-thin {
        scrollbar-height: thin;
    }

    .scrollbar-thin *::-moz-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar-thin *::-moz-scrollbar-thumb {
        background: #888;
    }

    /* CodeEditor.css */

    .code-editor {
        @apply flex h-screen items-center justify-center;
    }

    .code-editor-textarea {
        @apply w-full h-full bg-gray-100 p-4 text-base font-mono border border-gray-300 resize-none;
    }
}