@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .scrollbar-thin::-webkit-scrollbar {
        height: 5px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #888;
    }

    .scrollbar-thin {
        scrollbar-height: thin;
    }

    .scrollbar-thin *::-moz-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar-thin *::-moz-scrollbar-thumb {
        background: #888;
    }
}