@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
    }
}

@layer utilities {

    .scrollbar-thin::-webkit-scrollbar {
        height: 5px;
    }

    .scrollbar-thin::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #888;
    }

    .scrollbar-thin {
        scrollbar-height: thin;
    }

    .scrollbar-thin *::-moz-scrollbar-track {
        background: #f1f1f1;
    }

    .scrollbar-thin *::-moz-scrollbar-thumb {
        background: #888;
    }

    textarea {
        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        resize: none;
        /*remove the resize handle on the bottom right*/
    }

    .code-editor {
        @apply flex-1;
    }

    .line-numbers {
        @apply flex flex-col items-end justify-start w-16 h-full p-2 text-gray-500 select-none;
    }

    .line-number {
        @apply w-8 text-right;
    }

    .line-number.selected {}

    .code-editor-textarea {
        @apply h-full w-full font-mono text-base p-2 border bg-slate-700 border-slate-800 resize-none;
    }
}